@import url("https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:ital,wght@0,200..800;1,200..800&display=swap");

:root {
      --background: #222831;
      --primary: #45c8cf;
      --text: #eeeeee;
      --secondary: #31363f;
      --accent: #1ae9c1;

      --padding: 30px 5%;

      --border-radius: 24px;

      --font-largest: 4.21rem;
      --font-larger: 3.158rem;
      --font-medium: 2.369rem;
      --font-smaller: 1.777rem;
      --font-smallest: 1.333rem;

      --box-shadow: rgba(0, 0, 0, 0.15) 0px 2px 8px;
}

* {
      margin: 0;
      box-sizing: border-box;

      overflow-x: hidden;
}

html {
      font-size: 100%;
}

body {
      background-color: var(--background);
      color: var(--text);

      font-family: "Plus Jakarta Sans", sans-serif;
}

small {
      font-size: 0.75rem;
}

a {
      text-decoration: none;
      color: var(--primary);
      font-weight: 600;
}

input {
      color: inherit;
}

button {
      outline: none;
      color: inherit;
}

section {
      width: 100%;
      padding: var(--padding);
}

header,
section {
      max-width: 1024px;
}

h1 {
      font-size: var(--font-largest);
}

h2 {
      font-size: var(--font-larger);
}

h3 {
      font-size: var(--font-medium);
}

#app {
      display: flex;
      flex-direction: column;
      align-items: center;
}
